* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header_container{
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    padding: 20px 0;
    height:60vh;
    flex-wrap: wrap;
}

.menu{
    width: 75vw;
    display: flex;
    justify-content: space-around; 
    padding: 5px;
}

.logo{
    margin-right: auto;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
}

.links{
    width: 40vw;
    display: flex;
    justify-content: space-evenly; 
    padding: 5px;
    color: #e5e7eb;
    font-size: 18px;
}

.smal{
    font-size:18px;
    color:#e5e7eb;
}

.big{
    color:#f9faf8;
    font-size:48px;
}

.main_text{
    padding:5px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex:initial;
}